@import url(https://fonts.googleapis.com/css?family=Open+Sans&display=swap);body {
  font-family: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
}

header .main-menu {
  list-style: none;
}

header .main-menu li {
  display: inline-block;
}

header .main-menu li a {
  color: black;
}

main .cards-list section .cards {
  display: flex;
}

main .cards-list section .cards .card {
  flex-basis: calc(100% / 3);
}

main .cards-list section .cards .card .hover {
  display: none;
}

