main {
  .cards-list {
    section {
      .cards {
        display: flex;
        flex-wrap: wrap;
        .card {
          position: relative;
          flex-basis: calc(100% / 3 - 40px);
          margin: 20px;
          overflow: hidden;
          border-radius: 10px; 
          &:hover {
            .hover {

              opacity: 1;
            }
            img {
              transform: scale(1.1);
            }
          }
          img {
            display: block;
            width: 100%;
            transition-duration: 0.5s;
          }
          .hover {
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: 0.4s linear all;
            h3 {
              padding-bottom: 10px;
            }
          }
        }
      }
    }
  }
}
